<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Registration</title>
</head>

<body>
    <h1>Registration</h1>
    <form action="/register" method="POST">
        {% csrf_token %}
            First name:<br>
            <input type="text" name="first_name"><br>
            Last name:<br>
            <input type="text" name="last_name"><br>
            Email:<br>
            <input type="text" name="email"><br>
            Password:<br>
            <input type="text" name="password"><br>
            Confirm pw:<br>
            <input type="text" name="c_password"><br>

            <input type="submit" value="Register">


    
    </form>

    <h1>Login</h1>
    <form action="/login" method="POST">
        {% csrf_token %}
            Email:<br>
            <input type="text" name="email"><br>
            Password:<br>
            <input type="text" name="password"><br>
            <input type="submit" value="Login">

    </form>


    
</body>
</html>